@blackbaud-internal:registry=https://blackbaud.pkgs.visualstudio.com/_packaging/Blackbaud-npm/npm/registry/
@blackbaud-internal:always-auth=true

//blackbaud.pkgs.visualstudio.com/_packaging/Blackbaud-npm/npm/registry/:username=Blackbaud-npm
//blackbaud.pkgs.visualstudio.com/_packaging/Blackbaud-npm/npm/registry/:_password=${NODE_AUTH_TOKEN}
//blackbaud.pkgs.visualstudio.com/_packaging/Blackbaud-npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//blackbaud.pkgs.visualstudio.com/_packaging/Blackbaud-npm/npm/:username=Blackbaud-npm
//blackbaud.pkgs.visualstudio.com/_packaging/Blackbaud-npm/npm/:_password=${NODE_AUTH_TOKEN}
//blackbaud.pkgs.visualstudio.com/_packaging/Blackbaud-npm/npm/:email=npm requires email to be set but doesn't use the value
